.login {
    background-image: url("logo_UMCG_transparant2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: #000000;
    position: absolute;
}