{% extends "base.html" %}
{% block title %}Mijn Torso{% endblock %}
{% block content %}
<body><br>
    <main>
        <div class="container-lg border rounded" style="background-color: white; padding:3%;">
            <h1>Mijn Torso</h1>
            <p>Pijn kan door verschillende soorten lichamelijke prikkels worden opgewekt, zoals hitte, kou, verwonding of beschadiging van weefsels. 
                Er bestaan verschillende soorten lichamelijke (somatische) weefselpijn (nociceptieve pijn).</p><br>
            <div class="container-lg border rounded" style="background-color: white;"><br><br>
                <h1>Soorten Torso Pijn</h1><br>
                <hr><br>
                <h1>Rugpijn</h1>
                <p>rugpijn wordt ook wel spit of lumbago genoemd. Het is een veel voorkomende klacht. Als je het eenmaal hebt gehad, keert het vaak terug. 
                    Na drie maanden is ongeveer de helft van de mensen volledig hersteld, maar sommige mensen blijven langer last houden van lage rugpijn.
                    Het is meestal niet duidelijk hoe lage rugpijn precies ontstaat. Vaak lijkt het te maken te hebben met fysieke en mentale gesteldheid, leefstijl en werk. 
                    Bij minder dan 1% van de mensen met lage rugpijn wordt een zeldzame oorzaak (een afwijking van de wervelkolom, botbreuk, infectie, ontsteking of tumor) voor de klachten gevonden. 
                    De fysiotherapeut onderzoekt je hier specifiek op en verwijst je (terug) naar de huisarts.
                </p><br>
                <hr><br>
                <h1>Spierpijn</h1>
                <p>Spierpijn wordt veroorzaakt door een ophoping van afvalstoffen in je lijf, met name melkzuur. 
                    Dit zorgt voor pijn, kramp en dat stijve gevoel in je lichaam.</p><br>
                <hr><br>
                <h1>Hernia</h1>
                <p>Hernia betekent letterlijk ‘breuk’ of ‘uitpuiling’. Het is een aandoening die in Nederland veel voorkomt, vooral bij mensen met een instabiele rug of bij mensen die de rug verkeerd belasten. 
                    Om te kunnen begrijpen wat een hernia is, moet je eerst iets weten over de opbouw van je wervelkolom.
                    Je wervelkolom bestaat uit wervels en tussenwervelschijven, die bij elkaar gehouden worden door banden, spieren en pezen. 
                    Er kan een uitstulping van een tussenwervelschijf ontstaan, wat een hernia wordt genoemd.</p><br>
            </div>
        </div>
    </main>
<!-- Onderkant Pagina -->
    <footer style="background-color: #393939;">
        <p align="center" style="color:rgb(255, 255, 255); margin-top:3%">© 2022 MiDo</p>
    </footer>
</body>
{% endblock %}