{% extends "base.html" %}
{% block title %}Mijn Hoofd{% endblock %}
{% block content %}
<body><br>
    <main>
        <div class="container-lg border rounded" style="background-color: white; padding:3%;">
            <h1>Mijn Hoofd</h1>
            <p>Hoofdpijn is er in veel verschillende soorten. 
                Ernstige vormen van hoofdpijn hebben een grote impact op je leven.
                Lees hier alles over de meestvoorkomende vormen van hoofdpijn, zoals migraine, spanningshoofdpijn, clusterhoofdpijn en aangezichtspijn. 
                Wat is het, wat zijn de symptomen, welke medicijnen of behandelingen zijn er en wat kun je zelf doen.</p><br>
            <div class="container-lg border rounded" style="background-color: white;"><br><br>
                <h1>Soorten Hoofdpijn</h1><br>
                <hr><br>
                <h1>Migraine</h1>
                <p>Migraine is een aanval van ernstige hoofdpijn. Zo’n aanval kan enkele uren tot enkele dagen duren. 
                    De hoofdpijn zit meestal aan één kant van het hoofd en is vaak kloppend of bonzend. 
                    Naast hevige hoofdpijn komen ook misselijkheid en braken vaak voor. 
                    Meestal is iemand tijdens een aanval overgevoelig voor licht, geluid of geur.
                    Migraine is een chronische hersenaandoening.</p><br>
                <hr><br>
                <h1>Spanningshoofdpijn</h1>
                <p>Spanningshoofdpijn is de meest voorkomende primaire vorm van hoofdpijn. 
                    Het is eigenlijk een verzamelnaam voor verschillende hoofdpijnen die geen duidelijke oorzaak hebben. 
                    De pijn zit meestal aan beide zijden van het hoofd en voelt dof en drukkend aan. 
                    Sommige mensen hebben het gevoel dat er een knellende band om hun hoofd zit. 
                    Spanningshoofdpijn is niet gevaarlijk, maar kan wel een flinke impact op je dagelijks leven hebben, zeker als je er vaak last van hebt.</p><br>
                <hr><br>
                <h1>Aangezichtspijn</h1>
                <p>Aangezichtspijn is pijn in het gezicht, tussen het voorhoofd en de kin, inclusief de oren. 
                    Acute aangezichtspijn treedt plotseling op, bijvoorbeeld bij tand- of kiesproblemen of bij een ontsteking in de holten van het gezicht. 
                    Acute aangezichtspijn kan meestal worden opgelost door het onderliggende probleem of de ontsteking te behandelen.
                    Er is ook een chronische vorm van aangezichtspijn. Hierbij heb je langdurig last van pijnscheuten die voortdurend terugkomen. 
                    Op deze pagina bespreken we chronische aangezichtspijn.</p><br>
            </div>
        </div>
    </main>
<!-- Onderkant Pagina -->
    <footer style="background-color: #393939;">
        <p align="center" style="color:rgb(255, 255, 255); margin-top:3%">© 2022 MiDo</p>
    </footer>
</body>
{% endblock %}
